@import url("https://fonts.googleapis.com/css2?family=Poly:ital@0;1&family=Red+Rose:wght@300..700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


.bg-hero-background {
  background-image: url("/images/hero_background.jpg");
  background-size: cover;
  background-position: center;
}
.bg-hero-mobile-background {
  background-image: url("/images/hero_mobile_background.jpg");
  background-size: cover;
  background-position: center;
  opacity: 0.7;
}

.red-rose-regular {
  font-family: "Red Rose", serif;
  font-optical-sizing: auto;
  font-weight: "regular";
  font-style: normal;
}

.red-rose-bold {
  font-family: "Red Rose", serif;
  font-optical-sizing: auto;
  font-weight: "bold";
  font-style: normal;
}

.drop-shadow-2 {
  --tw-drop-shadow: drop-shadow(0 25px 25px rgba(0, 0, 0, 1));
  filter: var(--tw-drop-shadow);
}

.no-drag {
  user-select: none; /* Standard syntax */
  -webkit-user-drag: none; /* Webkit/Blink browsers */
}