@import url("https://fonts.googleapis.com/css2?family=Poly:ital@0;1&family=Red+Rose:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-hero-background {
  background-image: url("/images/hero_background.jpg");
  background-size: cover;
  background-position: center;
}
.bg-hero-mobile-background {
  background-image: url("/images/hero_mobile_background.jpg");
  background-size: cover;
  background-position: center;
  opacity: 0.7;
}

.red-rose-regular {
  font-family: "Red Rose", serif;
  font-optical-sizing: auto;
  font-weight: "regular";
  font-style: normal;
}

.red-rose-bold {
  font-family: "Red Rose", serif;
  font-optical-sizing: auto;
  font-weight: "bold";
  font-style: normal;
}

.drop-shadow-2 {
  --tw-drop-shadow: drop-shadow(0 25px 25px rgba(0, 0, 0, 1));
  filter: var(--tw-drop-shadow);
}

.no-drag {
  user-select: none; /* Standard syntax */
  -webkit-user-drag: none; /* Webkit/Blink browsers */
}

@layer utilities {
  .auth-form-input {
    @apply appearance-none border-slate-300 border rounded-md w-full p-3 text-gray-700 active:outline-black focus:outline-black;
  }

  .auth-form-button {
    @apply bg-black hover:opacity-85 text-white w-full rounded-md text-center py-3 mt-2 focus:outline-none;
  }

  .auth-button-regular {
    @apply hover:bg-slate-50 font-thin w-[80%] max-w-[350px] rounded-md text-center border border-slate-300 py-3 mt-5 focus:outline-none;
  }

  .max-container {
    @apply max-w-[1200px] mx-auto;
  }

  .padding-container {
    @apply px-6;
  }
  /* Responsive padding for screens wider than 1200px */
  @media (min-width: 1200px) {
    .padding-container {
      @apply px-0;
    }
  }

  .flexCenter {
    @apply flex items-center justify-center;
  }

  .flexBetween {
    @apply flex items-center justify-between;
  }

  .flexStart {
    @apply flex items-center justify-start;
  }

  .flexEnd {
    @apply flex items-center justify-end;
  }

  /* FONTS */
  .regular-64 {
    @apply text-[64px] font-[400] leading-[120%];
  }

  .regular-40 {
    @apply text-[40px] font-[400] leading-[120%];
  }

  .regular-32 {
    @apply text-[32px] font-[400];
  }

  .regular-24 {
    @apply text-[24px] font-[400];
  }

  .regular-20 {
    @apply text-[20px] font-[400];
  }

  .regular-18 {
    @apply text-[18px] font-[400];
  }

  .regular-16 {
    @apply text-[16px] font-[400];
  }

  .regular-14 {
    @apply text-[14px] font-[400];
  }

  .medium-14 {
    @apply text-[14px] font-[600];
  }

  .bold-88 {
    @apply text-[88px] font-[700] leading-[120%];
  }

  .bold-64 {
    @apply text-[64px] font-[700] leading-[120%];
  }

  .bold-52 {
    @apply text-[52px] font-[700] leading-[120%];
  }

  .bold-40 {
    @apply text-[40px] font-[700] leading-[120%];
  }

  .bold-32 {
    @apply text-[32px] font-bold font-[Poppins] text-[#393D46] leading-[120%];
  }

  .bold-24 {
    @apply text-[24px] font-bold font-[Poppins] text-[#393D46] leading-[120%];
  }

  .bold-20 {
    @apply text-[20px] font-[700] text-[#393D46] font-[Poppins];
  }

  .bold-18 {
    @apply text-[18px] font-[700] text-[#393D46] font-[Poppins];
  }

  .bold-16 {
    @apply text-[16px] font-[700] text-[#393D46] font-[Poppins];
  }
}

/* css for loading animation starts */
.outer_container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
}

.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #000;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(24px, 0);
  }
}

/* css for loading animation ends */
